type {{ toPascalCase .Type.Name }} struct {
{{ if .Type.IsIdentifier -}}
  Alias string
{{ end }}
{{ range .Type.Fields -}}
  {{ toPascalCase .Name }} any
{{ end }}
}

func (x {{ toPascalCase .Type.Name }}) ToExpr() any {
{{ if .Type.IsIdentifier -}}
  return sdk.ResourceIdentifier{
    ResourceType: "{{ .ResourceName }}",
    Alias: x.Alias,
    Value: map[string]any{
  {{ range .Type.Fields -}}
    "{{ .Name }}": x.{{ toPascalCase .Name }},
  {{ end }}
    },
  }
{{ else -}}
  return map[string]any{
  {{ range .Type.Fields -}}
    "{{ .Name }}": x.{{ toPascalCase .Name }},
  {{ end }}
  }
{{ end -}}
}
